<section class="infoBlock">
    <div class="container">
        {% if heading_title %}
            <h2>{{ heading_title }}</h2>
        {% endif %}
        <div class="infoBlock__inner">
            {{ html }}
        </div>
    </div>
</section>