<div class="videoBlock">
    <div class="container">
        <div class="videoBlock__inner">
            <div class="videoBlock__video">
                {{ iframe|raw  }}
            </div>
        </div>
    </div>
</div>