 <section class="pageContent pageContent-banner">
    <div class="container">
        <div class="pageContent__inner">
            <div class="pageContent__content">
                 <p class="pageContent__line">//////////</p>
                 <h1 class="pageContent__title title">
                 	{{ title }}
                 	<span>{{ description }}</span>
                 </h1>
            </div>
             <div class="pageContent__image">
                 <img src="{{ image }}" alt="{{ title }}">
            </div>
        </div>
   </div>
</section>